<fieldset>
  <legend>Plugin Settings</legend>
  <p>
    <label>Show line numbers by default</label><%= check_box_tag 'settings[show_line_numbers]', true, settings['show_line_numbers'] %>
  </p>
  <p>
    <label>Show line numbers toggle button</label><%= check_box_tag 'settings[show_line_numbers_toggle]', true, settings['show_line_numbers_toggle'] %>
  </p>
</fieldset>